body {
  font: 400 18px/25px "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

li {
  list-style: none;
}

.title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #001e42;
}

.text {
  color: #252d37;
}

.bold {
  font-weight: 700;
}

.header {
  background-image: url(../images/top-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 560px;
  padding-top: 36px;
  color: #ffffff;
}

.header__menu {
  margin-bottom: 76px;
}

.header__menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-logo .language {
  font-size: 11px;
  line-height: 15px;
  font-weight: 700;
  height: 27px;
  color: #00feff;
  border: 1px solid #00feff;
  border-radius: 50%;
  padding: 8px 5px 6px;
  margin-left: 50px;
}

.header__menu-logo .language p {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__menu-nav {
  text-align: center;
}

.header__menu-nav a + a {
  margin-left: 39px;
}

.header__menu-phone {
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.header__menu-phone .phone-item {
  margin-bottom: 0px;
}

.header__menu-phone .phone-item a {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.header__content {
  margin-bottom: 28px;
}

.header__content-title {
  font-size: 50px;
  line-height: 55px;
  font-weight: 900;
  color: #00feff;
  margin-bottom: 57px;
}

.header__content-subtitle {
  line-height: 18px;
  font-weight: 900;
  color: #00feff;
}

.header__content-price {
  width: 200px;
}

.header__content-price span {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

.header__bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom-btn {
  width: 253px;
  height: 50px;
  border: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #002047;
  background-color: #00feff;
}

.header__bottom-btn img {
  margin-left: 10px;
}

.header__bottom-info {
  font-size: 14px;
  line-height: 19px;
}

.about {
  padding: 97px 0 61px 0;
}

.services__title {
  margin-bottom: 52px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 63px;
}

.services__item-icon {
  margin-right: 40px;
  position: relative;
}

.services__item-icon::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 13px;
  left: 10px;
  width: 63px;
  height: 53px;
  background: #00feff;
}

.services__item-title {
  font-weight: 700;
  color: #002047;
  width: 210px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.info__title h5 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #001e42;
  margin-bottom: 31px;
}

.info__text {
  margin-bottom: 42px;
}

.info__text:first-child {
  padding-right: 30px;
}

.info__text:last-child {
  padding-left: 30px;
}

.info__btn {
  margin-bottom: 125px;
}

.goals {
  margin-bottom: 115px;
}

.goals__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goals__title img {
  margin-right: 16px;
}

.goals__title h4 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #001e42;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.goals__subtitle {
  padding-top: 74px;
  padding-bottom: 132px;
}

.goals__subtitle p {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #001e42;
  width: 520px;
}

.goals__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #001e42;
  margin-bottom: 81px;
}

.goals__items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goals__item {
  position: relative;
  line-height: 22px;
  font-weight: 700;
  color: #001e42;
  width: 400px;
}

.goals__item p {
  padding-left: 20px;
}

.goals__item:nth-child(1)::before, .goals__item:nth-child(2)::before, .goals__item:nth-child(3)::before {
  position: absolute;
  top: -48px;
  z-index: -1;
  font-size: 96px;
  line-height: 117px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #00feff;
}

.goals__item:nth-child(1)::before {
  content: "1";
}

.goals__item:nth-child(2)::before {
  content: "2";
}

.goals__item:nth-child(3)::before {
  content: "3";
}

.price {
  padding-bottom: 97px;
}

.price__text {
  padding-top: 33px;
}

.price__btn {
  margin-top: 15px;
}

.price__btn button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #001e42;
  background-color: inherit;
  border: 2px solid #001e42;
  padding: 14px 23px;
  margin-right: 24px;
}

.price__btn button img {
  margin-left: 10px;
}

.price__btn button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f2f2f2;
  -webkit-box-shadow: 5px 5px 6px 1px #f2f2f2;
          box-shadow: 5px 5px 6px 1px #f2f2f2;
}

.price__items .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.price__item {
  text-align: center;
  width: 259px;
  color: #001e42;
  padding: 38px 19px 40px 19px;
  border: 2px solid #001e42;
}

.price__item-title {
  margin-bottom: 16px;
}

.price__item-name {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 6px;
}

.price__item-price {
  margin-bottom: 28px;
}

.price__item-price span {
  font-size: 70px;
  line-height: 80px;
}

.price__item + .price__item {
  margin-left: 10px;
}

.client {
  margin-bottom: 66px;
}

.client__title {
  margin-bottom: 25px;
}

.client .column-5 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client .column-5 .col-md-1 {
  width: 0%;
  display: none;
}

.client .column-5 .col-md-2 {
  width: 162px;
}

.client .column-5 .col-md-2 img {
  width: 162px;
}
